<!DOCTYPE html>
<html>
<head>
  <title>PhotoTravel</title>
  <%= stylesheet_link_tag    "demo_page","demo_table","application" %>
  <%= javascript_include_tag "jquery", "jquery.dataTables.js", "http://maps.googleapis.com/maps/api/js?sensor=false","application", :defaults %>
  <%= csrf_meta_tags %>
  <script type = 'text/javascript'> $(document).ready(function(){$('#example').dataTable();})</script>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_canvas { height: 100% }
</style>
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?&sensor=true">
</script>
<script type="text/javascript">
  function initialize() {
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);
  }
</script>
</head>
<body>

<%= yield %>


</body>
</html>
