<!DOCTYPE html>
<html>
<head>
  <title>PhotoTravel</title>
  <%= stylesheet_link_tag    "demo_page","demo_table","application" %>
  <%= javascript_include_tag "jquery", "jquery.dataTables.js", "http://maps.googleapis.com/maps/api/js?sensor=false","application", :defaults %>
  <%= csrf_meta_tags %>
  <script type = 'text/javascript'> $(document).ready(function(){$('#example').dataTable();})</script>
</head>
<body>

<%= yield %>


</body>
</html>
