<!DOCTYPE html>
<html>
<head>
  <title>PhotoTravel</title>
  <%= stylesheet_link_tag    "demo_page","demo_table","application" %>
  <%= javascript_include_tag "jquery", "jquery.dataTables.js","application"  %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
